<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="/gato/gatosCreate">
        <input type="text" id="gato" name="gato" placeholder="gato">
        <input type="text" id="raca" name="raca" placeholder="raça">
        <input type="number" id="peso" name="peso" placeholder="peso">
        <input type="submit" value="Submit">
    </form>

</body>
</html>
