<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="/gato/<%= gato.id %>/gatosUpdate">
        <% console.log(gato)%>
        <input type="text" id="gato" name="gato" placeholder="gato" value="<%= gato.gato %>">
        
        <input type="text" id="raca" name="raca" placeholder="raça" value="<%= gato.raca %>">
        
        <input type="number" id="peso" name="peso" placeholder="peso" value="<%= gato.peso %>">
        
        <input type="submit" value="Submit">
    </form>

</body>
</html>
